@use "sass:math";

$tablet: 768px;
$desktop: 990px;

$container: 1140px;

$border-radius: 8px;
$html-font-size: 16px;

@mixin responsiveMin($diplay) {
  @media (min-width: $diplay) {
    @content;
  }
}

@function toRem($size) {
  @return math.div($size, $html-font-size) * 1rem;
}